* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

:root {
  --main-color: #22b14c;
  --hover-color: #39ed6e;
  --active-color: #ffffff;
  --disabled-color: #b1b1b1;
  --nav-nonactive-font-color: #ffffff;
  --article-font-color: #000000;
}
